
body {
  background-image: url(background.jpg);
  background-size: cover;
}

.container {
  background: rgba(0, 0, 0, 0.5);
  width: 800px;
  margin: auto;
  margin-top: 20px;;
  padding-bottom: 40px;
  border-radius: 10px;
}

header {
  color: lime;
  text-align: center;
  padding-top: 70px;
  font-size: 12px;
}

#logo {
  width: 150px;
}

h1 {
  margin: auto;
  font-family: sans-serif;
}

nav {
  width: 700px;
  height: 20px;
  margin: auto;
  text-align: center;
  background-color: lime;
  padding-top: 5px;
  padding-bottom: 5px;
}

main {
  padding-left: 50px;
  color: white;
  font-size: 12px;
}

h2 {
  display: inline-block;
  margin-bottom: 1px;
  font-size: 16px;
}
h3 {
  margin: 1px;
  font-size: 12px;
  font-weight: lighter;
}

.battery1, .battery2, .battery3 {
  border-radius: 3px;
  height: 20px;
}

.battery1 {
  width: 260px;
  background-color: orange;
}

.battery2 {
  width: 460px;
  background-color: green;
}

.battery3 {
  width: 110px;
  background-color: red;
}
